<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Photo</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>MariaAnders@yahoo.com</td>
  </tr>
  <tr>
    <td>Francisco Moctezuma</td>
    <td>FranciscoChang@yahoo.com</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>RolandMendel@yahoo.com</td>
  </tr>
  <tr>
    <td>Heisenberg Doep</td>
    <td>HelenBennett@yahoo.com</td>
    
  </tr>
  <tr>
    <td>Bacchus Winecellars</td>
    <td>YoshiTannamuri@yahoo.com</td>
   
  </tr>
  <tr>
    <td>Alimentari Riuniti</td>
    <td>GiovanniRovelli@yahoo.com</td>
    
  </tr>
</table>

</body>
</html>
